HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/**/target/

### NetBeans ###
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/build/
!**/src/test/**/build/
/nbproject/
/build/