HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/**/target/
!**/**/build/
!**/build
### NetBeans ###
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/build/classes
!**/src/test/**/build/
/nbproject/
/build/